body
{
	margin: 0;
	background-color: Teal;
}


#main 
{
	width: 1550px;
	height: 1500px;
	background: White;
	margin: 60px auto;
	border: solid 1px black;
	
}

h1 {
	
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 60px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}

h2 {
	
	text-align: center;
	font-family: 'Arvo', serif;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;

}

#topper 
{
	background-color: Teal;
    padding: 20px;
    text-align: center;
	top: 0%;

}
